@media screen and (max-width: 575px) {
  .app__container {
  display: flex;
  justify-content: center;
  background: rgb(1, 85, 1);
  height: 300px;
  }
  .app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 20px 10px 20px;
  }
  h2 {
    color: white;
    font-weight: 500;
    margin-top: 0;
    font-size: 12px;
  }
  h2:nth-of-type(2) {
    color: white;
    font-weight: 900;
    margin-top: 0;
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) {
  .app__container {
    display: flex;
    justify-content: center;
    background: rgb(1, 85, 1);
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    height: 450px;
  }
  .app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
  }
  h2 {
    color: white;
    font-weight: normal;
    margin-top: 0;
    font-size: 21px;
  }
  h2:nth-of-type(2) {
    color: white;
    font-weight: 700;
    margin-top: 0;
    font-size: 21px;
  }
}